<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inducesmile.inducesmile_button">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".checkbox.CheckBox20"/>
        <activity android:name=".checkbox.CheckBox19" />
        <activity android:name=".checkbox.CheckBox18" />
        <activity android:name=".checkbox.CheckBox17" />
        <activity android:name=".checkbox.CheckBox16" />
        <activity android:name=".checkbox.CheckBox15" />
        <activity android:name=".checkbox.CheckBox14" />
        <activity android:name=".checkbox.CheckBox13" />
        <activity android:name=".checkbox.CheckBox12" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checkbox.CheckBox11" />
        <activity android:name=".checkbox.CheckBox10" />
        <activity android:name=".checkbox.CheckBox9" />
        <activity android:name=".checkbox.CheckBox8" />
        <activity android:name=".checkbox.CheckBox7" />
        <activity android:name=".checkbox.CheckBox6" />
        <activity android:name=".checkbox.CheckBox5" />
        <activity android:name=".checkbox.CheckBox4" />
        <activity android:name=".checkbox.CheckBox3" />
        <activity android:name=".checkbox.CheckBox2" />
        <activity android:name=".checkbox.CheckBox1" />
        <activity android:name=".progressbar.ProgressBar19" />
        <activity android:name=".progressbar.ProgressBar21" />
        <activity android:name=".progressbar.ProgressBar14" />
        <activity android:name=".progressbar.ProgressBar17" />
        <activity android:name=".progressbar.ProgressBar18" />
        <activity android:name=".progressbar.ProgressBar16" />
        <activity android:name=".progressbar.ProgressBar11" />
        <activity android:name=".progressbar.ProgressBar20" />
        <activity android:name=".progressbar.ProgressBar22" />
        <activity android:name=".progressbar.ProgressBar12" />
        <activity android:name=".progressbar.ProgressBar10" />
        <activity android:name=".progressbar.ProgressBar13" />
        <activity android:name=".progressbar.ProgressBar15" />
        <activity android:name=".progressbar.ProgressBar7" />
        <activity android:name=".progressbar.ProgressBar5"/>
        <activity android:name=".progressbar.ProgressBar9" />
        <activity android:name=".progressbar.ProgressBar6" />
        <activity android:name=".progressbar.ProgressBar4" />
        <activity android:name=".progressbar.ProgressBar3" />
        <activity android:name=".progressbar.ProgressBar8" />
        <activity android:name=".progressbar.ProgressBar2" />
        <activity android:name=".progressbar.ProgressBar1" />
        <activity android:name=".toolbar.Toolbar17" />
        <activity android:name=".toolbar.Toolbar9" />
        <activity android:name=".toolbar.Toolbar11" />
        <activity android:name=".MainActivity" />
        <activity android:name=".button.BorderButton" />
        <activity android:name=".spinner.HintSpinner" />
        <activity android:name=".spinner.SpinnerTextSize" />
        <activity android:name=".spinner.SpinnerTextColor" />
        <activity android:name=".spinner.DropDownArrowSpinner" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".spinner.SpinnerActivityOnItemSelectedListener" />
        <activity android:name=".spinner.DisableAnItem" />
        <activity android:name=".button.ChangeButtonColorActivity" />
        <activity android:name=".spinner.HideAnItem" />
        <activity android:name=".button.RoundedCornerButtonActivity" />
        <activity android:name=".button.GradientColorButtonActivity" />
        <activity android:name=".button.BorderlessColorButtonActivity" />
        <activity android:name=".spinner.SpinnerBackground" />
        <activity android:name=".spinner.SelectedItemBackground" />
        <activity android:name=".spinner.ImageSpinner" />
        <activity android:name=".spinner.FindAnItemSpinner" />
        <activity android:name=".imageview.ImageView2" />
        <activity android:name=".imageview.ImageView7" />
        <activity android:name=".imageview.ImageView14" />
        <activity android:name=".imageview.ImageView31" />
        <activity android:name=".imageview.ImageView32" />
        <activity android:name=".imageview.ImageView12" />
        <activity android:name=".imageview.ImageView22" />
        <activity android:name=".imageview.ImageView16" />
        <activity android:name=".imageview.ImageView21" />
        <activity android:name=".imageview.ImageView33" />
        <activity android:name=".imageview.ImageView30" />
        <activity android:name=".imageview.ImageView19" />
        <activity android:name=".imageview.ImageView34" />
        <activity android:name=".imageview.ImageView26" />
        <activity android:name=".imageview.ImageView35" />
        <activity android:name=".imageview.ImageView38" />
        <activity android:name=".imageview.ImageView36" />
        <activity android:name=".imageview.ImageView27" />
        <activity android:name=".imageview.ImageView17" />
        <activity android:name=".imageview.ImageView9" />
        <activity android:name=".imageview.ImageView10" />
        <activity android:name=".imageview.ImageView3" />
        <activity android:name=".imageview.ImageView29" />
        <activity android:name=".imageview.ImageView13" />
        <activity android:name=".imageview.ImageView4" />
        <activity android:name=".imageview.ImageView11" />
        <activity android:name=".imageview.ImageView5" />
        <activity android:name=".imageview.ImageView8" />
        <activity android:name=".imageview.ImageView6" />
        <activity android:name=".imageview.ImageView20" />
        <activity android:name=".imageview.ImageView37" />
        <activity android:name=".imageview.ImageView39" />
        <activity android:name=".imageview.ImageView23" />
        <activity android:name=".imageview.ImageView25" />
        <activity android:name=".imageview.ImageView1" />
        <activity android:name=".imageview.ImageView24" />
        <activity android:name=".imageview.ImageView28" />
        <activity android:name=".webview.Webview1" />
        <activity android:name=".webview.Webview2" />
        <activity android:name=".webview.Webview3" />
        <activity android:name=".webview.Webview4" />
        <activity android:name=".webview.Webview5" />
        <activity android:name=".webview.Webview6" />
        <activity android:name=".webview.Webview7" />
        <activity android:name=".webview.Webview8" />
        <activity android:name=".webview.Webview9" />
        <activity android:name=".webview.Webview10" />
        <activity android:name=".webview.Webview11" />
        <activity android:name=".webview.Webview13" />
        <activity android:name=".webview.Webview12" />
        <activity android:name=".webview.Webview14" />
        <activity android:name=".webview.Webview15" />
        <activity android:name=".webview.Webview16" />
        <activity android:name=".webview.Webview17" />
        <activity android:name=".webview.Webview18" />
        <activity android:name=".webview.Webview19" />
        <activity android:name=".webview.Webview20" />
        <activity android:name=".webview.Webview21" />
        <activity android:name=".webview.Webview22" />
        <activity android:name=".webview.Webview23" />
        <activity android:name=".webview.Webview24" />
        <activity android:name=".webview.Webview25" />
        <activity android:name=".layout.Layout1" />
        <activity android:name=".layout.Layout2" />
        <activity android:name=".layout.Layout3" />
        <activity android:name=".layout.Layout4" />
        <activity android:name=".layout.Layout5" />
        <activity android:name=".layout.Layout6" />
        <activity android:name=".layout.Layout7" />
        <activity android:name=".layout.Layout8" />
        <activity android:name=".layout.Layout14" />
        <activity android:name=".layout.Layout10" />
        <activity android:name=".layout.Layout11" />
        <activity android:name=".layout.Layout9" />
        <activity android:name=".layout.Layout17" />
        <activity android:name=".layout.Layout12" />
        <activity android:name=".layout.Layout13" />
        <activity android:name=".layout.Layout15" />
        <activity android:name=".layout.Layout16" />
        <activity android:name=".layout.Layout18" />
        <activity android:name=".layout.Layout20" />
        <activity android:name=".layout.Layout19" />
        <activity android:name=".toolbar.Toolbar1" />
        <activity android:name=".toolbar.Toolbar2" />
        <activity android:name=".toolbar.Toolbar3" />
        <activity android:name=".toolbar.Toolbar4" />
        <activity android:name=".toolbar.Toolbar5" />
        <activity android:name=".toolbar.Toolbar6" />
        <activity android:name=".toolbar.Toolbar7" />
        <activity android:name=".toolbar.Toolbar8" />
        <activity android:name=".toolbar.Toolbar10" />
        <activity android:name=".toolbar.Toolbar12" />
        <activity android:name=".toolbar.Toolbar13" />
        <activity android:name=".toolbar.Toolbar14" />
        <activity android:name=".toolbar.Toolbar15" />
        <activity android:name=".toolbar.Toolbar16" />
        <activity android:name=".toolbar.Toolbar18" />
        <activity android:name=".toolbar.Toolbar19" />
        <activity android:name=".toolbar.Toolbar20" />
    </application>

</manifest>