<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inducesmile.inducesmile_button">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" />
        <activity android:name=".button.BorderButton" />
        <activity android:name=".spinner.HintSpinner" />
        <activity android:name=".spinner.SpinnerTextSize" />
        <activity android:name=".spinner.SpinnerTextColor" />
        <activity android:name=".spinner.DropDownArrowSpinner" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".spinner.SpinnerActivityOnItemSelectedListener" />
        <activity android:name=".spinner.DisableAnItem" />
        <activity android:name=".button.ChangeButtonColorActivity" />
        <activity android:name=".spinner.HideAnItem" />
        <activity android:name=".button.RoundedCornerButtonActivity" />
        <activity android:name=".button.GradientColorButtonActivity" />
        <activity android:name=".button.BorderlessColorButtonActivity" />
        <activity android:name=".spinner.SpinnerBackground" />
        <activity android:name=".spinner.SelectedItemBackground" />
        <activity android:name=".spinner.ImageSpinner" />
        <activity android:name=".spinner.FindAnItemSpinner" />
        <activity android:name=".imageview.RoundedCorner" />
        <activity android:name=".imageview.ScaleImage" />
        <activity android:name=".imageview.ZoomInZoomOut" />
        <activity android:name=".imageview.ImageClickEvent" />
        <activity android:name=".imageview.ImageTouchEvent" />
        <activity android:name=".imageview.ChooseImage" />
        <activity android:name=".imageview.ImageViewBackground" />
        <activity android:name=".imageview.ScaleImageAspectRatio" />
        <activity android:name=".imageview.ChangeImage" />
        <activity android:name=".imageview.HideAndShowImage"/>
        <activity android:name=".imageview.ImageViewMargin"/>

        <activity android:name=".imageview.AddImageView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>