<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inducesmile.inducesmile_button">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" />
        <activity android:name=".button.BorderButton" />
        <activity android:name=".spinner.HintSpinner" />
        <activity android:name=".spinner.SpinnerTextSize" />
        <activity android:name=".spinner.SpinnerTextColor" />
        <activity android:name=".spinner.DropDownArrowSpinner" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".spinner.SpinnerActivityOnItemSelectedListener" />
        <activity android:name=".spinner.DisableAnItem" />
        <activity android:name=".button.ChangeButtonColorActivity" />
        <activity android:name=".spinner.HideAnItem" />
        <activity android:name=".button.RoundedCornerButtonActivity" />
        <activity android:name=".button.GradientColorButtonActivity" />
        <activity android:name=".button.BorderlessColorButtonActivity" />
        <activity android:name=".spinner.SpinnerBackground" />
        <activity android:name=".spinner.SelectedItemBackground" />
        <activity android:name=".spinner.ImageSpinner" />
        <activity android:name=".spinner.FindAnItemSpinner" />
        <activity android:name=".imageview.RoundedCorner" />
        <activity android:name=".imageview.ScaleImage" />
        <activity android:name=".imageview.ZoomInZoomOut" />
        <activity android:name=".imageview.ImageClickEvent" />
        <activity android:name=".imageview.ImageTouchEvent" />
        <activity android:name=".imageview.ChooseImage" />
        <activity android:name=".imageview.ImageViewBackground" />
        <activity android:name=".imageview.ScaleImageAspectRatio" />
        <activity android:name=".imageview.ChangeImage" />
        <activity android:name=".imageview.HideAndShowImage" />
        <activity android:name=".imageview.ImageViewMargin" />
        <activity android:name=".imageview.AddImageView" />
        <activity android:name=".imageview.ImageGlide" />
        <activity android:name=".imageview.ImageViewOverImageView" />
        <activity android:name=".imageview.ImagePicasso" />
        <activity android:name=".imageview.TextViewImageView" />
        <activity android:name=".imageview.ColorDrawableImageView" />
        <activity android:name=".imageview.ImageHeight" />
        <activity android:name=".imageview.ImageViewGetHeightAndWidth" />
        <activity android:name=".imageview.ImageViewRotate" />
        <activity android:name=".imageview.ImageViewRemovePadding" />
        <activity android:name=".imageview.ImageViewHeightAndWidth" />
        <activity android:name=".imageview.ImageViewResize" />
        <activity android:name=".imageview.CircularImageView" />
        <activity android:name=".imageview.ImageViewUrl" />
        <activity android:name=".imageview.ImageViewRemove" />
        <activity android:name=".imageview.Drawable2Bitmap" />
        <activity android:name=".imageview.Drawable2ByteArray" />
        <activity android:name=".imageview.BitmapImageView" />
        <activity android:name=".imageview.AnimateImageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".imageview.ImageClickFullScreen" />
        <activity android:name=".imageview.DrawTextImageView"></activity>
    </application>

</manifest>